[user]
    name = uzzu
    email = himeatball@gmail.com
[github]
    user = uzzu
[core]
    editor = vim
[merge]
    tool = vimdiff
[color]
    ui = true
[color "branch"]
    current = green black
    local   = green
    remote  = magenta
[pretty]
    simplelog = %C(green)%h%Creset %cd %C(cyan)%an%Creset - %s %C(red)%d%Creset
    tricolor = %C(green reverse)%h%Creset%C(blue reverse)%an%Creset%C(red reverse)%d%Creset %C(white bold)%s%Creset %C(magenta)(%cd)%Creset
    russia = %C(white reverse)%h%Creset%C(blue reverse)%an%Creset%C(red reverse)%d%Creset %C(white bold)%s%Creset %C(magenta)(%cd)%Creset
    italy = %C(green reverse)%h%Creset%C(white reverse)%an%Creset%C(red reverse)%d%Creset %C(white bold)%s%Creset %C(magenta)(%cd)%Creset
    france = %C(blue reverse)%h%Creset%C(white reverse)%an%Creset%C(red reverse)%d%Creset %C(white bold)%s%Creset %C(magenta)(%cd)%Creset
    afghan = %C(black reverse)%h%Creset%C(red reverse)%an%Creset%C(green reverse)%d%Creset %C(white bold)%s%Creset %C(magenta)(%cd)%Creset
    india = %C(yellow reverse)%h%Creset%C(white reverse)%an%Creset%C(green reverse)%d%Creset %C(white bold)%s%Creset %C(magenta)(%cd)%Creset
    myanmar = %C(yellow reverse)%h%Creset%C(green reverse)%an%Creset%C(red reverse)%d%Creset %C(white bold)%s%Creset %C(magenta)(%cd)%Creset
    mongolia = %C(red reverse)%h%Creset%C(blue reverse)%an%Creset%C(red reverse)%d%Creset %C(white bold)%s%Creset %C(magenta)(%cd)%Creset
    yemen = %C(red reverse)%h%Creset%C(white reverse)%an%Creset%C(black reverse)%d%Creset %C(white bold)%s%Creset %C(magenta)(%cd)%Creset
    sgi = %C(blue reverse)%h%Creset%C(yellow reverse)%an%Creset%C(red reverse)%d%Creset %C(white bold)%s%Creset %C(magenta)(%cd)%Creset
[alias]
    br      = branch
    bra     = branch    -a
    brd     = branch    -d
    brdd    = branch    -D
    brm     = branch    -m
    co      = checkout
    cob     = checkout  -b
    conf    = !vim      ~/.gitconfig
    ci      = commit
    cm      = commit    -m
    cv      = commit    -v
    cam     = commit    -am
    cav     = commit    -av
    dd      = diff
    ds      = diff      --cached
    di      = diff      HEAD~
    dii     = diff      HEAD~~
    diii    = diff      HEAD~~~
    diiii   = diff      HEAD~~~~
    diiiii  = diff      HEAD~~~~~
    fe      = fetch
    fep     = fetch     --prune
    info    = remote    show origin
    kk      = !gitk
    kka     = !gitk     --all
    kt      = !tig
    kta     = !tig      --all
    mnff    = merge     --no-ff
    pr      = pull      --rebase
    rmd     = !git      status | grep deleted: | awk '{print $3}' | xargs git rm
    st      = status    --short --branch
    stu     = status    --short --branch    --untracked-files=no
    sti     = status    --short --branch    --ignored
    tr      = log       --graph --date=local --pretty='italy'
    tra     = !git      tr      --all
    trs     = !git      tr      --stat
    tras    = !git      tr      --all   --stat
    undo    = reset     --soft HEAD^

