[user]
    name = uzzu
    email = himeatball@gmail.com
[github]
    user = uzzu
[core]
    editor = vim
    excludesfile = /Users/uzu-h/.gitignore_global
[merge]
    tool = vimdiff
[merge "mergepbx"]
    name = Xcode project files merger
    driver = mergepbx %O %A %B
[color]
    ui = true
[color "branch"]
    current = green black
    local   = green
    remote  = cyan
[pretty]
    simplelog = %C(green)%h%Creset %cd %C(cyan)%an%Creset - %s %C(red)%d%Creset
    tricolor = %C(green reverse)%h%Creset%C(blue reverse)%an%Creset%C(red reverse)%d%Creset %C(white bold)%s%Creset %C(cyan)(%cd)%Creset
    russia = %C(white reverse)%h%Creset%C(blue reverse)%an%Creset%C(red reverse)%d%Creset %C(white bold)%s%Creset %C(cyan)(%cd)%Creset
    italy = %C(green reverse)%h%Creset%C(white reverse)%an%Creset%C(red reverse)%d%Creset %C(white bold)%s%Creset %C(cyan)(%cd)%Creset
    france = %C(blue reverse)%h%Creset%C(white reverse)%an%Creset%C(red reverse)%d%Creset %C(white bold)%s%Creset %C(cyan)(%cd)%Creset
    afghan = %C(black reverse)%h%Creset%C(red reverse)%an%Creset%C(green reverse)%d%Creset %C(white bold)%s%Creset %C(cyan)(%cd)%Creset
    india = %C(yellow reverse)%h%Creset%C(white reverse)%an%Creset%C(green reverse)%d%Creset %C(white bold)%s%Creset %C(cyan)(%cd)%Creset
    myanmar = %C(yellow reverse)%h%Creset%C(green reverse)%an%Creset%C(red reverse)%d%Creset %C(white bold)%s%Creset %C(cyan)(%cd)%Creset
    mongolia = %C(red reverse)%h%Creset%C(blue reverse)%an%Creset%C(red reverse)%d%Creset %C(white bold)%s%Creset %C(cyan)(%cd)%Creset
    yemen = %C(red reverse)%h%Creset%C(white reverse)%an%Creset%C(black reverse)%d%Creset %C(white bold)%s%Creset %C(cyan)(%cd)%Creset
    sgi = %C(blue reverse)%h%Creset%C(yellow reverse)%an%Creset%C(red reverse)%d%Creset %C(white bold)%s%Creset %C(cyan)(%cd)%Creset
[difftool "sourcetree"]
    cmd = opendiff \"$LOCAL\" \"$REMOTE\"
    path = 
[mergetool "sourcetree"]
    cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
    trustExitCode = true
[alias]
    adm     = !git          ls-files --modified | xargs git add
    br      = branch
    bra     = branch        -a
    brd     = branch        -d
    brdd    = branch        -D
    brm     = branch        -m
    co      = checkout
    cob     = checkout      -b
    cobr    = "!f() { if [ $# -ne 2 ]; then echo \"Usage: git cobr {remotename} {branchname}\"; exit; fi; git fep ${1} ${2};  git cob ${2} remotes/${1}/${2}; git co ${2}; };f"
    conf    = !vim          ~/.gitconfig
    cln     = config        --local user.name
    clm     = config        --local user.email
    ci      = commit
    cm      = commit        -m
    cmm     = commit        --amend     -m
    cv      = commit        -v
    cam     = commit        -am
    cav     = commit        -av
    dh      = show          HEAD
    dd      = diff
    ds      = diff          --cached
    di      = diff          HEAD~
    dii     = diff          HEAD~~
    diii    = diff          HEAD~~~
    diiii   = diff          HEAD~~~~
    diiiii  = diff          HEAD~~~~~
    fe      = fetch
    fep     = fetch         --prune
    ignore  = !vim          .gitignore
    info    = remote        show origin
    kk      = !gitk
    kka     = !gitk         --all
    kt      = !tig
    kta     = !tig          --all
    mnff    = merge         --no-ff
    pr      = pull          --rebase
    rmd     = !git          ls-files --deleted | xargs git rm
    st      = status        --short --branch
    stu     = status        --short --branch        --untracked-files=no
    sti     = status        --short --branch        --ignored
    tr      = log           --graph --date=local    --pretty='italy'
    tra     = !git          tr      --all
    trs     = !git          tr      --stat
    tras    = !git          tr      --all           --stat
    us      = update-index  --skip-worktree
    usl     = !git          ls-files -v | grep '^S'
    usn     = update-index  --no-skip-worktree
    undo    = reset         --soft HEAD^
    w       = !git          config --get remote.origin.url | sed 's/git@\\(.*\\):\\(.*\\)\\/\\(.*\\)\\.git$/https:\\/\\1\\/\\2\\/\\3/' | sed 's/\\(.*\\)\\/\\(.*\\)\\.git$/\\1\\/\\2/'                              | xargs open
    wp      = !git          config --get remote.origin.url | sed 's/git@\\(.*\\):\\(.*\\)\\/\\(.*\\)\\.git$/https:\\/\\1\\/\\2\\/\\3/' | sed 's/\\(.*\\)\\/\\(.*\\)\\.git$/\\1\\/\\2/' | xargs -I %% echo %%/pulls  | xargs open
    wi      = !git          config --get remote.origin.url | sed 's/git@\\(.*\\):\\(.*\\)\\/\\(.*\\)\\.git$/https:\\/\\1\\/\\2\\/\\3/' | sed 's/\\(.*\\)\\/\\(.*\\)\\.git$/\\1\\/\\2/' | xargs -I %% echo %%/issues | xargs open
    ww      = !git          config --get remote.origin.url | sed 's/git@\\(.*\\):\\(.*\\)\\/\\(.*\\)\\.git$/https:\\/\\1\\/\\2\\/\\3/' | sed 's/\\(.*\\)\\/\\(.*\\)\\.git$/\\1\\/\\2/' | xargs -I %% echo %%/wiki   | xargs open

